NEXT_PUBLIC_BASE_URL=http://localhost:3000
NEXT_PUBLIC_API_KEY=
AUTH_DOMAIN=
PROJECT_ID=
NEXT_PUBLIC_STORAGE_BUCKET=
MESSAGING_SENDER_ID=
APP_ID=
NEXT_PUBLIC_DATABASE_URL=
FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=